wheel
uvicorn~=0.15.0
aioredis
aiosmtplib
anyio
asgiref
async-timeout
# bcrypt
blinker
certifi
cffi
charset-normalizer
click
dnspython
email-validator
fastapi~=0.70.0
fastapi-mail
fastapi-utils
greenlet
h11
idna
Jinja2
MarkupSafe
packaging
passlib~=1.7.4
# psycopg2-binary
pycparser
pydantic~=1.9.0
PyJWT~=2.1.0
pyparsing
python-decouple
python-dotenv
python-multipart
PyYAML
requests
rfc3986
six
sniffio
sortedcontainers
SQLAlchemy~=1.4.29
starlette
typing-extensions
uvicorn
# uvloop
watchgod
websockets
validators~=0.18.2
pytest~=6.2.5
decouple~=0.0.7